body {
  background-image: url('Picture6.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
  background-color: #17113D;
  color: #000;
  text-align: center;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin: 60px;
}

#dash {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #646446;
  margin: 60px;
}

.buttons {
  margin: 5px;
}

.form {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.eventCard {
  border: 126px solid: #000;
  border-radius: 5px;
}
